{% extends 'base.html' %}

{% block content %}
    <!-- Header-->
    <header class="py-5" style="background-color: #1c3650;">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shporta e Blerjes</h1>
                <p class="lead fw-normal text-white-50 mb-0">Shporta juaj</p>
            </div>
        </div>
    </header>
    <br><br><br>
    <div class="container mx-auto">
        {% if cart_product %}
            {% for product in cart_product %}
                <div class="card mb-3" style="max-width: 960px;">
                    <div class="row g-0">
                        <div class="col-md-5 align-self-center">
                            <img src="{{ product.image.url }}" class="img-fluid rounded-start mx-auto d-block"
                                 alt="{{ product.name }}">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body text-center">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">{{ product.description }}</p>

                                {% if product.is_sale %}
                                    <div class="badge bg-dark text-white position-absolute"
                                         style="top: 0.5rem; right: 0.5rem">Zbritje
                                    </div>
                                    <strike>${{ product.price }}</strike>&nbsp;&nbsp;
                                    ${{ product.sale_price }}
                                {% else %}
                                    ${{ product.price }}<br>ID: {{ product.id }}
                                {% endif %}
                                <br><br>
                                <div class="row justify-content-center">
                                    <div class="col-md-2 align-self-center ">Sasia:</div>
                                    <div class="col-md-4 d-flex justify-content-center align-items-center">
                                        <select class="form-select form-select-sm w-auto" id="select{{ product.id }}">
                                            <option selected>
                                                {% for key, value in quantities.items %}
                                                    {% if key == product.id|slugify %}
                                                        {{ value }}
                                                    {% endif %}
                                                {% endfor %}
                                            </option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                </div>
                                <br><br>
                                <a href="{% url 'home' %}" class="btn btn-primary" style="background-color: #326b9e;">Faqja kresore</a>
                                <button type="button" data-index="{{ product.id }}" class="btn btn-primary update-cart"
                                        style="background-color:green;">Perditsim
                                </button>
                                <button type="button" data-index="{{ product.id }}"
                                        class="btn btn-danger delete-product">Hiq
                                </button>

                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
            <div align="right"></div>
            <h3>Total: ${{ totals }} </h3>
            <a href="{% url 'checkout' %}" class="btn btn-success">Checkout</a>
            <br><br>
        {% else %}
            Ti nuk ke asgje ne shporte!
            <br><br><br><br><br><br><br><br><br><br><br><br>
        {% endif %}
    </div>
    <br><br>

    <script>
        // Update Cart
        $(document).on('click', '.update-cart', function (e) {
            e.preventDefault();
            var productid = $(this).data('index');
            var quantity = $('#select' + productid).val(); // Correctly select the quantity

            $.ajax({
                type: 'POST',
                url: '{% url "cart_update" %}',
                data: {
                    product_id: productid,
                    product_qty: quantity,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },
                success: function (json) {
                    location.reload();
                },
                error: function (xhr, errmsg, err) {
                    console.error(errmsg);
                }
            });
        });


        // Delete item from Cart
        $(document).on('click', '.delete-product', function (e) {
            e.preventDefault();

            $.ajax({
                type: 'POST',
                url: '{% url "cart_delete" %}',
                data: {
                    product_id: $(this).data('index'),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },
                success: function (json) {
                    location.reload();
                },
                error: function (xhr, errmsg, err) {
                    console.error(errmsg);
                }
            });
        });
    </script>

{% endblock %}
