{% extends 'base.html' %}
{% block content %}

    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About us </h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome to Django Ecommerce</p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <br/><br/>
                    <p align="justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque mattis nunc at dapibus
                        pellentesque. Duis sollicitudin est nibh, et euismod nulla porttitor ac. Duis pulvinar lacus in
                        tortor suscipit fringilla. Integer sed facilisis nisi, in iaculis odio. Donec non enim blandit,
                        ullamcorper ipsum non, fermentum felis. Aliquam leo est, commodo euismod lorem vel, varius
                        sodales libero. Aliquam leo ipsum, convallis sed felis nec, dignissim viverra arcu.
                        <br/><br/>
                        Quisque est odio, maximus et tellus non, posuere euismod massa. Fusce posuere interdum felis id
                        interdum. Vivamus at nisi purus. Cras venenatis sit amet magna id imperdiet. Morbi porttitor
                        mauris sed justo viverra, vel efficitur justo tempus. Cras facilisis finibus ante eget ultrices.
                        Duis vel maximus lorem, id bibendum lectus. Fusce efficitur, est id tempus rutrum, augue nisl
                        suscipit velit, vel aliquet odio nulla nec felis. Vivamus molestie eros euismod tincidunt
                        lacinia.
                        <br/><br/>
                        Duis non rutrum massa. Aliquam ante nunc, rutrum at eros sit amet, commodo lobortis mauris.
                        Nullam sit amet ipsum ante. In ornare, neque et maximus faucibus, massa ligula consectetur urna,
                        id vulputate felis nisi id erat. Aenean nec sapien ut metus finibus bibendum posuere in turpis.
                        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras
                        dui orci, vulputate vel congue sed, tempus eu nulla. Donec faucibus consectetur dui eleifend
                        laoreet. Vestibulum mattis at lacus quis imperdiet.
                    </p>
                    <br/><br/>
                </div>
            </center>
        </div>
    </div>

{% endblock %}