{% extends 'base.html' %}
{% block content %}

    <!-- Header-->
    <header class=" py-5" style="background-color: #1c3650;">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About TechShoes</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome to Shoes Sneakers, your ultimate destination for
                    the latest and greatest in sneaker fashion. Whether you're a sneakerhead, an athlete, or just
                    someone who loves comfortable and stylish footwear, we've got something for everyone.</p>
            </div>
        </div>
    </header>

    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h3>Our Story</h3>
                
                    <p align="justify">
                        {% if abouts %}
                            {{ abouts.description1 }}
                            </p>
                            <p align="justify">
                                {{ abouts.description2 }}
                            </p>
                            <p align="justify">
                                {{ abouts.description3 }}
                            </p>
                        {% endif %}

            <br><br><br><br>
            </div>
        </div>
    </div>

{% endblock %}
