{% extends 'base.html' %}
{% block content %}

    <!-- Header-->
    <header class=" py-5" style="background-color: #1c3650;">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Rreth UPT Shoes</h1>
                <p class="lead fw-normal text-white-50 mb-0">Mirë se vini në Shoes Sneakers, destinacioni juaj përfundimtar për modën më të fundit dhe më të mirë të atleteve. Qoftë nëse jeni një adhurues i atleteve, një sportist, apo thjesht dikush që e do rehatinë dhe stilin në këpucë, ne kemi diçka për të gjithë.</p>
            </div>
        </div>
    </header>

    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h3>Historia jone</h3>
                
                    <p align="justify">
                        {% if abouts %}
                            {{ abouts.description1 }}
                            </p>
                            <p align="justify">
                                {{ abouts.description2 }}
                            </p>
                            <p align="justify">
                                {{ abouts.description3 }}
                            </p>
                        {% endif %}

            <br><br><br><br>
            </div>
        </div>
    </div>

{% endblock %}
