{% extends 'base.html' %}
{% block content %}

<!-- Header -->
<header class=" py-5" style="background-color: #1c3650;">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Perditso info</h1>
            <p class="lead fw-normal text-white-50 mb-0">Perditso info</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row ">
        <div class="col-8 offset-2">
            <br/><br/>
            <strong>Billing Information</strong>
            <br/><br/>
            <form method="POST" action="{% url 'update_info' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <br/><br/>
                <strong>Shipping Information</strong>
                <br/><br/>
                {{ shipping_form.as_p }}
                
                <br/><br/>
                <div class="text-center">
                <button type="submit" class="btn btn-secondary">Perditso info</button>
                </div>
            </form>
            <br/><br/>
            <br/><br/>
            

            
            <br/><br/>
            <br/><br/>
            <br/><br/>
            <br/><br/>
            <br/><br/>
        </div>
    </div>
</div>

{% endblock %}
